body {
    height: 100vh;
    width: 100vw;
    color: #ccc;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    background-color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: url("/assets/body.jpg") no-repeat top center;
    background-size: cover;
}
